{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Qu'est ce que Platester
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-6 m-5">
				<div class="text-center bg-white mt-5 m-5 p-3 shadow rounded-5 bg-opacity-85">

					MENTIONS LÉGALES<br>

					Le présent site internet est édité par PlateSters, société anonyme au capital de 1 centime,<br>
					immatriculée au Registre du Commerce et des Sociétés d'Arras sous le numéro 89B13,<br>
					dont le siège social est situé à Arras.
				</div>
				<div class="text-center bg-white mt-5 m-5 p-3 fs-5 shadow rounded-5 bg-opacity-85">
					Le directeur de la publication du présent site est ACIER Paul.<br>
					Le présent site est hébergé par OVH, hébergeur privé au capital de 10 174 560,00€,<br>
					immatriculée au Registre du Commerce et des Sociétés de Roubaix sous le numéro 537 407 926 sise 2,<br>
					dont le siège social est situé  2, rue Kellermann, 59100 Roubaix.<br>

					Numéro de téléphone de l'hébergeur : 1007<br>
					Adresse e-mail de l'hébergeur : OVH@gmail.com
					
											Le présent site est régi par la loi française.<br>

					La reproduction, l'utilisation, l'exploitation des photographies, des images, des cartes, des textes, des extractions de base de données,<br>
					des éléments de conception graphique et en règle générale de tous les éléments de publication du site sont interdits sans accord préalable de la société éditrice.<br>

					Toute utilisation non autorisée de tout ou partie du site pourra entraîner des poursuites judiciaires.<br>
				</div>
			</div>
			<div class="col-4 text-center">
				<div class="text-center text-white mt-5 p-4"></div>
				<div class="card border-dark mb-3" style="max-width: 20rem;">
					<div class="card-body rounded-2" style="background-image: url('../public/images/otika.gif');background-repeat: no-repeat; background-size: cover;">
						<p class="card-text text-white">
							<font style="vertical-align: inherit;">Nom de l'entreprise : PlateSters<br><br><br></font>

							<font style="vertical-align: inherit;">Pdg: Acier Paul<br><br><br></font>


							<font style="vertical-align: inherit;">Tél:(712) 380-4091</font>
						</p>
					</div>
				</div>
				<div class="col-4 text-center">
					<div class="text-center bg-white mt-5 p-3 shadow rounded-5">
							<div class="social-media">
								<a href="https://www.instagram.com/paul._acr/">
									<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 448 512">
										<path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
									</svg>
									<span class="tooltip-social">Instagram</span>
								</a>
								<a href="https://www.linkedin.com/in/paul-acier-43a783276/">
									<svg xmlns="http://www.w3.org/2000/svg " width="50" height="50" viewbox="0 0 448 512">
										<path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path>
									</svg>
									<span class="tooltip-social">LinkedIn</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		{% endblock %}

