{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Ajout collections{% endblock %}


{% block body %}
	<div class="container-fluid mt-5">
		<div class=" row justify-content-center">
			<div class="col-12 col-md-9 p-4 m-3 rounded-5 shadow" style="background-color :#eaeaea">
				<h1 class="text-center text-secondary mt-4 pt-4 display-1 fw-bold">Ajout Collections</h1>
				{{form(form)}}
            </div>
        </div>
    </div

{% endblock %}